/* standard */
input[type=checkbox] {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin-bottom: 0;
    outline: 0;
    border-radius: 3px;
}

input[type=checkbox]:checked:after {
    content: "\2713";
    line-height: 19px;
    margin-left: 2px;
    font-size: 14px;
}

/* chacoal */
.chacoal input[type=checkbox] {
    background: #313131;
    box-shadow: 0 1px #474747, inset 0 1px 0 1px rgba(71, 71, 71, 0.2), inset 0 0 0 1px #000, inset 0 0 0 2px rgba(71, 71, 71, 0.5);
}

.chacoal input[type=checkbox]:hover {
    background: #36260c;
}

.chacoal input[type=checkbox]:checked:after {
    color: #FF9000;
}

/* pearl */