.etk-checkbox:not([disabled]),
.etk-checkbox:not([disabled]) + label {
	cursor: pointer;
}

/**
 * Saf3+, Chrome1+
 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.etk-checkbox {
		visibility: hidden;
	}
	.etk-checkbox:not(.etk-invisible):after {
		visibility: visible;
		box-sizing: border-box;
		width: 14px;
		height: 14px;
		display: inline-block;
		border-radius: 3px;
		line-height: 14px;
		vertical-align: middle;
		color: transparent;
		content: "";
	}
	.etk-checkbox:checked:after {
		font-size: 12px;
		text-align: center;
		content: "\2713";
	}
	.etk-checkbox.etk-checkbox-partial:not(:checked):after {
		font-size: 10px;
		text-indent: 4px;
		content: "\25A0";
	}
	.etk-checkbox + * {
		margin-left: 5px;
	}
	.etk-checkbox:checked:after,
	.etk-checkbox.etk-checkbox-partial:not(:checked):after {
		color: #FF9000;
	}
	.etk-checkbox:disabled:after {
		opacity: .5;
	}
	
	/* Chacoal Theme */
	.chacoal .etk-checkbox:after {
		background: #313131;
		box-shadow: 0 1px #474747, inset 0 1px 0 1px rgba(71, 71, 71, 0.2), inset 0 0 0 1px #000, inset 0 0 0 2px rgba(71, 71, 71, 0.5);
	}
	.chacoal .etk-checkbox:focus:after,
	.chacoal .etk-checkbox.etk-focused:after {
		box-shadow: 0 0 0 1px #5b4a38, 0 0 1px 1px #5b4a38, 0 0 1px 0 #5b4a38, 0 1px #474747, inset 0 1px 0 1px rgba(71,71,71,0.4), inset 0 0 0 1px #000, inset 0 0 0 2px #36260c;
	}
	.chacoal .etk-checkbox:not([disabled]):hover:after {
		background: #36260c;
	}
}

/**
 *Firefox only. 1+, IE7
 */
	.etk-checkbox,
	x:-moz-any-link {
		display: none;
	}
	.etk-checkbox:not(.etk-invisible) + label:before,
	x:-moz-any-link {
		box-sizing: border-box;
		width: 14px;
		height: 14px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 5px;
		line-height: 14px;
		vertical-align: middle;
		color: transparent;
		content: "";
	}
	.etk-checkbox:checked + label:before,
	x:-moz-any-link {
		text-align: center;
		font-size: 12px;
		content: "\2713";
	}
	.etk-checkbox.etk-checkbox-partial:not(:checked) + label:before,
	x:-moz-any-link {
		font-size: 10px;
		text-indent: 4px;
		content: "\25A0";
	}
	.etk-checkbox + *,
	x:-moz-any-link {
		margin-left: 0;
	}
	.etk-checkbox:checked + label:before,
	.etk-checkbox.etk-checkbox-partial:not(:checked) + label:before,
	x:-moz-any-link {
		color: #FF9000;
	}
	.etk-checkbox:disabled + label:before,
	x:-moz-any-link {
		opacity: .5;
	}

	/* Chacoal Theme */
	.etk-checkbox + label:before,
	x:-moz-any-link {
		background: #313131;
		box-shadow: 0 1px #474747, inset 0 1px 0 1px rgba(71, 71, 71, 0.2), inset 0 0 0 1px #000, inset 0 0 0 2px rgba(71, 71, 71, 0.5);
	}
	.chacoal .etk-checkbox:focus + label:before,
	.chacoal .etk-checkbox.etk-focused + label:before {
		box-shadow: 0 0 0 1px #5b4a38, 0 0 1px 1px #5b4a38, 0 0 1px 0 #5b4a38, 0 1px #474747, inset 0 1px 0 1px rgba(71,71,71,0.4), inset 0 0 0 1px #000, inset 0 0 0 2px #36260c;
	}
	.etk-checkbox:not([disabled]):hover + label:before,
	x:-moz-any-link {
		background: #36260c;
	}

/**
 *IE6, IE7, IE8
 */
@media \0screen\,screen\9 {
	.etk-checkbox {
		display: inline-block;
	}
	.etk-checkbox + * {
		margin-left: 5px;
	}
}